$color_orange: #FF7600;
$background: #E3D1D0;
$color_navbar: #f5b23534;
$color_white: white;
$color_black: black;
$color_blue: #52006A;
$color_why: #eaeaea;
$color_started: #6A0189;
$color_main: #ffffff9c;
$color_goals: #ff7801ad;
$color_ptag: #5F5F5F;
$color_input: #e7e5ea5c;