@import "color";

// start everyone
body {
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}

// end everyone
// start navbar
header {
    z-index: 0;
}

.link_size {
    font-size: 18px;
}

.link_navbar {
    border: 2px solid $color_orange;
    color: $color_orange !important;
    height: 51px;
    transition: 0.5s;
}

.link_navbar:hover {
    background-color: $color_orange;
    color: $color_white !important;
}

.li_hover:hover {
    color: $color_orange !important;
}

.dropdown-toggle::after {
    position: absolute;
    top: 12px;
    right: -12px;
    transform: rotate(0);
    transition: 0.3s;
}

.rotate180::after {
    transform: rotate(180deg);
}

// end navbar