$colorOrange: #FF7600;
$background: #E3D1D0;
$colorNavbar: #f5b23534;
$colorWhite: white;
$colorBlack: black;
$colorBlue: #52006A;
$colorWhy: #eaeaea;
$colorStarted: #6A0189;
$colorMain: #ffffff2e;
$colorGoals: #ff780117;
$colorPtag: #5F5F5F;
$colorInput: #e7e5ea5c;
$colorCard: #e8e8e876;